In [64]:
import numpy as np 
import pandas as pd
import os

In [65]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [66]:
%cd "/content/drive/MyDrive/Stocknow"

/content/drive/MyDrive/Stocknow

In [67]:
path = "/content/drive/MyDrive/Stocknow"

In [68]:
data_frames = []
for file in os.listdir(path):
    if file.endswith(".csv"):
        file_path = os.path.join(path, file)
        df = pd.read_csv(file_path)
        data_frames.append(df)

In [69]:
result_df = pd.concat(data_frames, axis=0, ignore_index=True)

In [70]:
result_df

,Scrip,Date,Open,High,Low,Close,Volume
0,STANDARINS,20171204,27.70,28.30,27.50,28.00,323568
1,DELTALIFE,20171204,115.50,117.00,112.00,112.40,128834
2,DS30,20171204,2273.98,2279.28,2264.76,2266.30,24487000
3,LRGLOBMF1,20171204,7.90,8.00,7.90,8.00,599195
4,UNITEDAIR,20171204,5.90,5.90,5.80,5.80,712288
...,...,...,...,...,...,...,...
796726,Services & Real Estate,20131030,55.00,55.73,53.50,53.90,474600
796727,Tannery Industries,20131030,244.52,250.84,240.36,245.26,426100
796728,Telecommunication,20131030,181.80,183.95,173.65,175.40,1450200
796729,Textile,20131030,88.09,89.80,86.52,88.22,33751600
796730,Travel & Leisure,20131030,47.50,49.85,47.50,48.45,7437900

In [71]:
result_df['Year'] = result_df['Date'].astype(str).str[:4].astype(int)

In [72]:
result_df['Month'] = result_df['Date'].astype(str).str[4:6].astype(int)

In [73]:
result_df['Day'] = result_df['Date'].astype(str).str[6:8].astype(int)

In [74]:
result_df['Date(R)'] = pd.to_datetime(result_df[['Year', 'Month', 'Day']])

In [75]:
filtered_df_DSEX = result_df[result_df["Scrip"] == "DSEX"]

In [76]:
filtered_df_DSEX = filtered_df_DSEX.sort_values(by="Date(R)", ascending=False)

In [77]:
filtered_df_DSEX

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R)
361122,DSEX,20220324,6750.40,6765.04,6732.56,6752.87,169831383,2022,3,24,2022-03-24
354180,DSEX,20220323,6771.66,6807.69,6745.05,6750.40,176117548,2022,3,23,2022-03-23
356883,DSEX,20220322,6691.78,6785.22,6691.71,6771.66,209852106,2022,3,22,2022-03-22
358811,DSEX,20220321,6698.04,6712.07,6652.65,6691.78,157873922,2022,3,21,2022-03-21
355339,DSEX,20220320,6765.59,6774.56,6690.25,6698.04,156132710,2022,3,20,2022-03-20
...,...,...,...,...,...,...,...,...,...,...,...
384027,DSEX,20140306,4697.54,4724.82,4690.50,4699.63,55890300,2014,3,6,2014-03-06
392065,DSEX,20140305,4703.88,4717.24,4684.67,4697.54,56080200,2014,3,5,2014-03-05
386325,DSEX,20140304,4687.19,4728.12,4687.19,4703.88,68633296,2014,3,4,2014-03-04
385182,DSEX,20140303,4697.30,4732.25,4685.53,4687.19,68064600,2014,3,3,2014-03-03
386037,DSEX,20140302,4749.87,4776.38,4697.30,4697.30,75712400,2014,3,2,2014-03-02

In [78]:
filtered_df_DSEX['Daily Return(DSEX)'] = filtered_df_DSEX['Close'].pct_change()

In [79]:
filtered_df_DSEX

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX)
361122,DSEX,20220324,6750.40,6765.04,6732.56,6752.87,169831383,2022,3,24,2022-03-24,NaN
354180,DSEX,20220323,6771.66,6807.69,6745.05,6750.40,176117548,2022,3,23,2022-03-23,-0.000366
356883,DSEX,20220322,6691.78,6785.22,6691.71,6771.66,209852106,2022,3,22,2022-03-22,0.003149
358811,DSEX,20220321,6698.04,6712.07,6652.65,6691.78,157873922,2022,3,21,2022-03-21,-0.011796
355339,DSEX,20220320,6765.59,6774.56,6690.25,6698.04,156132710,2022,3,20,2022-03-20,0.000935
...,...,...,...,...,...,...,...,...,...,...,...,...
384027,DSEX,20140306,4697.54,4724.82,4690.50,4699.63,55890300,2014,3,6,2014-03-06,0.002652
392065,DSEX,20140305,4703.88,4717.24,4684.67,4697.54,56080200,2014,3,5,2014-03-05,-0.000445
386325,DSEX,20140304,4687.19,4728.12,4687.19,4703.88,68633296,2014,3,4,2014-03-04,0.001350
385182,DSEX,20140303,4697.30,4732.25,4685.53,4687.19,68064600,2014,3,3,2014-03-03,-0.003548
386037,DSEX,20140302,4749.87,4776.38,4697.30,4697.30,75712400,2014,3,2,2014-03-02,0.002157

In [80]:
filtered_df_DSEX['Variance'] = filtered_df_DSEX['Daily Return(DSEX)'].var()
filtered_df_DSEX

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX),Variance
361122,DSEX,20220324,6750.40,6765.04,6732.56,6752.87,169831383,2022,3,24,2022-03-24,NaN,0.000069
354180,DSEX,20220323,6771.66,6807.69,6745.05,6750.40,176117548,2022,3,23,2022-03-23,-0.000366,0.000069
356883,DSEX,20220322,6691.78,6785.22,6691.71,6771.66,209852106,2022,3,22,2022-03-22,0.003149,0.000069
358811,DSEX,20220321,6698.04,6712.07,6652.65,6691.78,157873922,2022,3,21,2022-03-21,-0.011796,0.000069
355339,DSEX,20220320,6765.59,6774.56,6690.25,6698.04,156132710,2022,3,20,2022-03-20,0.000935,0.000069
...,...,...,...,...,...,...,...,...,...,...,...,...,...
384027,DSEX,20140306,4697.54,4724.82,4690.50,4699.63,55890300,2014,3,6,2014-03-06,0.002652,0.000069
392065,DSEX,20140305,4703.88,4717.24,4684.67,4697.54,56080200,2014,3,5,2014-03-05,-0.000445,0.000069
386325,DSEX,20140304,4687.19,4728.12,4687.19,4703.88,68633296,2014,3,4,2014-03-04,0.001350,0.000069
385182,DSEX,20140303,4697.30,4732.25,4685.53,4687.19,68064600,2014,3,3,2014-03-03,-0.003548,0.000069
386037,DSEX,20140302,4749.87,4776.38,4697.30,4697.30,75712400,2014,3,2,2014-03-02,0.002157,0.000069

In [81]:
filtered_df_SQURPH = result_df[result_df["Scrip"] == "SQURPHARMA"]

In [82]:
filtered_df_SQURPH = filtered_df_SQURPH.sort_values(by="Date(R)", ascending=False)

In [83]:
filtered_df_SQURPH

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R)
361065,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24
363964,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24
354124,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23
363963,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23
363965,SQURPHARMA,20220322,216.1,220.5,216.0,220.0,765481,2022,3,22,2022-03-22
...,...,...,...,...,...,...,...,...,...,...,...
683509,SQURPHARMA,20120103,239.5,242.0,239.5,241.1,176920,2012,1,3,2012-01-03
361602,SQURPHARMA,20120102,240.0,245.8,240.0,240.2,165880,2012,1,2,2012-01-02
684794,SQURPHARMA,20120102,240.0,245.8,240.0,240.2,165880,2012,1,2,2012-01-02
361605,SQURPHARMA,20120101,239.7,241.0,237.0,238.9,271350,2012,1,1,2012-01-01
683766,SQURPHARMA,20120101,239.7,241.0,237.0,238.9,271350,2012,1,1,2012-01-01

In [84]:
filtered_df_SQURPH_M = pd.merge(filtered_df_SQURPH, filtered_df_DSEX[['Date(R)','Daily Return(DSEX)','Variance',]], on='Date(R)', how='inner')

In [85]:
filtered_df_SQURPH_M

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX),Variance
0,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069
1,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069
2,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069
3,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069
4,SQURPHARMA,20220322,216.1,220.5,216.0,220.0,765481,2022,3,22,2022-03-22,0.003149,0.000069
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,SQURPHARMA,20140304,276.5,280.0,273.2,275.1,1149710,2014,3,4,2014-03-04,0.001350,0.000069
3812,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069
3813,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069
3814,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069
3815,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069

In [86]:
filtered_df_SQURPH_M['Daily Return_SQ'] = filtered_df_SQURPH_M['Close'].pct_change()

In [87]:
filtered_df_SQURPH_M.head()

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX),Variance,Daily Return_SQ
0,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,NaN
1,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,0.000000
2,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.001365
3,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.000000
4,SQURPHARMA,20220322,216.1,220.5,216.0,220.0,765481,2022,3,22,2022-03-22,0.003149,0.000069,0.000000

In [88]:
filtered_df_SQURPH_M['Covariance'] = filtered_df_SQURPH_M['Daily Return_SQ'].cov(filtered_df_SQURPH_M['Daily Return(DSEX)'])

In [89]:
filtered_df_SQURPH_M

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX),Variance,Daily Return_SQ,Covariance
0,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,NaN,0.000026
1,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,0.000000,0.000026
2,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.001365,0.000026
3,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.000000,0.000026
4,SQURPHARMA,20220322,216.1,220.5,216.0,220.0,765481,2022,3,22,2022-03-22,0.003149,0.000069,0.000000,0.000026
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,SQURPHARMA,20140304,276.5,280.0,273.2,275.1,1149710,2014,3,4,2014-03-04,0.001350,0.000069,0.000000,0.000026
3812,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069,-0.002908,0.000026
3813,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069,0.000000,0.000026
3814,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069,-0.024790,0.000026
3815,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069,0.000000,0.000026

In [90]:
filtered_df_SQURPH_M['Beta'] = filtered_df_SQURPH_M['Covariance']/filtered_df_SQURPH_M['Variance']

In [91]:
filtered_df_SQURPH_M

,Scrip,Date,Open,High,Low,Close,Volume,Year,Month,Day,Date(R),Daily Return(DSEX),Variance,Daily Return_SQ,Covariance,Beta
0,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,NaN,0.000026,0.379207
1,SQURPHARMA,20220324,221.2,221.2,219.4,219.7,218896,2022,3,24,2022-03-24,NaN,0.000069,0.000000,0.000026,0.379207
2,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.001365,0.000026,0.379207
3,SQURPHARMA,20220323,220.0,222.3,219.0,220.0,457151,2022,3,23,2022-03-23,-0.000366,0.000069,0.000000,0.000026,0.379207
4,SQURPHARMA,20220322,216.1,220.5,216.0,220.0,765481,2022,3,22,2022-03-22,0.003149,0.000069,0.000000,0.000026,0.379207
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3811,SQURPHARMA,20140304,276.5,280.0,273.2,275.1,1149710,2014,3,4,2014-03-04,0.001350,0.000069,0.000000,0.000026,0.379207
3812,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069,-0.002908,0.000026,0.379207
3813,SQURPHARMA,20140303,266.6,275.1,266.5,274.3,1537360,2014,3,3,2014-03-03,-0.003548,0.000069,0.000000,0.000026,0.379207
3814,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069,-0.024790,0.000026,0.379207
3815,SQURPHARMA,20140302,267.0,270.0,265.7,267.5,767700,2014,3,2,2014-03-02,0.002157,0.000069,0.000000,0.000026,0.379207